
// [ COLOURS ]:

$white:      #ffffff;
$d-white:    #ebedf0;
$grey:       #353447;
$black:      #020203;
$green:      #70e6a1;
$orange:     #faab44;


// [ FONTS ]:

$f-size: 10px;
$f-family: 'Montserrat', sans-serif;
$font: $f-size $f-family;
$f-lite:    300;
$f-normal:  400;
$f-bold:    700;
$f-black:   900;


// [ SIZES ]:

$mb: 576px;
$sm: 768px;
$md: 900px;
$bg: 1000px;
$lg: 1200px;
$w: $lg;


